@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wholescreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* height: 100vh; */
}

h2 {
    color: white;
}

.container {
    margin: auto;
    width: 500px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.788);
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    height: fit-content;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.74);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.grid-item {
    background: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: blanchedalmond;
    font-size: 50px;
    font-weight: 700;
    cursor: pointer;
}

.grid-item:hover {
    background-color: rgba(73, 73, 73, 0.74);
}

.winner-msg {
    color: #0deb0d;
    font-size: 20px;
    /* margin-top: 20px; */
    text-align: center;
    /* margin:auto; */
}

.reset-btn {
    background-color: rgba(85, 81, 81, 0.76);
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.reset-btn:hover {
    background-color: rgb(24, 23, 23);
}

@media(max-width:600px) {
    .container {
        width: 90%;
        /* margin-top: auto; */
    }

    .game {
        grid-template-columns: repeat(3, 60px);
        grid-template-rows: repeat(3, 60px);
    }

    .reset-btn {
        font-size: 10px;
        padding: 3px 5px;
        margin-top: 10px;
    }
    h2{
        font-size: 15px;
    }

}